<div class="card">
  <div class="card--header">
    <h2 class="card--title">
      <a class="card--title--link" href="/post/{{post.id}}">
        <div class="card--post--title">{{post.postTitle}}</div>
      </a>
    </h2>
    <div class="card--post-user">posted by {{post.user.username}} on {{format_date post.dateCreated}}
    </div>
  </div>  
  <p class="card--body">
   {{post.postContent}}
  </p>
</div>
<input type="hidden" name="post-id" value="{{post.id}}"/>
{{!-- {{#if loggedIn}} --}}
<div class="card">
  <form class="card-body" id="new-comment-form">
    <p class="form-label">Comment:</p>
    <textarea class="form-input" id="comment-body" name="comment-body"></textarea>
    <button type="submit" class="btn btn-primary">Submit:</button>
  </form>
{{> comments post.comments}}
</div>
{{!-- {{/if}} --}}
<script src="/js/comment.js"></script>